@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
    font-family: 'Cormorant Infant', serif;
}

:root {
    --color: #2bb773;
    --color2: #8dc73f;
    --color3: white;
    --color4: black;
    --color5:  #1E8065;
    --color6: #3a3895;

}


p{
    font-weight: 300;
}

h2{
    font-weight: 700;
}


.hero {
    width: 100%;
    height: 70vh;
    background: url(../img/tobacco-img-1.jpg);
     background-position: top center ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -53px;
    margin-right: 50px;
    z-index: 0;
}
